<!DOCTYPE html>
<html lang="en-US" class="text-gray-900 antialiased leading-tight">
<head>
  <meta charset="utf-8">
  <title>PB's BG Demo App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/tailwind.css">
</head>

<!--
  For customizing the "body" bg class.
  Preview colors at https://tailwindcss.com/docs/background-color/

  allowed color values:
    red, orange, yellow,
    green, teal, blue,
    pink
  allowed saturation values:
  100 to 700
-->

<body class="bg-orange-600">
  <div class="w-full max-h-full max-w-screen-xl mx-auto p-8">
    <div class="max-w-sm max-h-full mx-auto rounded overflow-hidden shadow-lg bg-indigo-200">
      <img class="w-full" src="/yesthisisapp.png" alt="Hello yes this is app">
    </div>
  </div>
</body>

</html>
